


h1{
    color: tomato;
}


body{
color: yellow;
background-color: rgb(237, 235, 100);
font-size: large;
font-family: 'Courier New', Courier, monospace;
font-style: italic;
font-weight: bold;
}

p{
    color: rgb(97, 50, 205);
}

.red{
    color:red;
    background-color: chartreuse;
}
#red{
    background-color: slateblue;
}

.green{
    color: rgb(100, 200, 77);
    background-color: darkcyan;
}

#green{
    background-color: mediumvioletred;
}
.blue{
    color:blue;
}

head{
    color: blueviolet;
}