<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Document
    </title>
  </head>



  <body>
      <h1>HTML and CSS</h1>
    <p class="red" id="red">HTML stands for HyperText Markup Language. It is the markup language for creating web pages.</p>
    <p class="green" id="green">HTML tells the browser all about content and structure of the web pages</p>
    <p class="blue">HTML tells about the web pages</p>
    <p class="green">Learning CSS is fun and interesting</p>
    <p class="red" style="font-size: 1em;">Full form of CSS is Cascading Style Sheet</p>
<div style="font-size: 2rem;">abcd</div>
      <link rel="stylesheet" href="../static/style.css">
  </body>
</html>