<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <form>
        <label for="Vegetables"></label>
        Vegetables:
        <input type="checkbox" id="checkbox" name="checkbox">

        <label for="Milk"></label>
        Milk:
        <input type="checkbox" id="checkbox" name="checkbox">

        <label for="Eggs"></label>
        Eggs:
        <input type="checkbox" id="checkbox" name="checkbox">

        <label for="Chocolates"></label>
        Chocolates:
        <input type="checkbox" id="checkbox" name="checkbox">
    </form>
</body>
</html>