<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <form>
            <select name="" id="">
                <optgroup label="Indian cars">
                    <option value="">Maruti Suzuki</option>
                    <option value="">Toyota</option>
                    <option value="">Ford</option>

                </optgroup>

                <optgroup label="German cars">
                    <option value="">Audi</option>
                    <option value="">BMW</option>
                    <option value="">Mercedes-Benz</option>
                    <option value=""></option>
                </optgroup>
                
            </select>

        </form>
        
    </body>
</html>