<!--Write your HTML Code here-->
<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Document
    </title>
    <style>
      .red {
        color: red;
        background-color: chartreuse;
      }
      .green {
        color: green;
        background-color: yellow;
      }
      .blue{
        color: blue;
        background-color: aqua;
      }
    </style>
  </head>

  <body>
    <p class="red">HTML stands for HyperText Markup Language. It is the markup language for creating web pages.</p>
    <p class="green"> HTML tells the browser all about content and structure of the web pages</p>
    <p class="blue">HTML tells th of the web pages</p>
    <h1 class="red">My name</h1>
    <p class="red">My name is Ramya</p>
    <br><br><br><br>

<div class="blue">
    <h1>Rashmi Bhaskar</h1>
    <p>Hi Guys! I am Rashmi and I study in grade 8th from NMS.</p>

    <h2>Hobbies</h2>
    <p>Watching movies</p>
    <p>Coding</p>
    <p>Painting</p>

    <h2>Achievements</h2>
    <p>Won first prize in statelevel Tennis Championships</p>
    <p>Won National level award for singing</p>
</div>

  </body>
</html>

